.extendons_upload_file_order_data {
  display: none;
}
.extendons_download {
  background-color: lightgray !important;
  color: #2f2828 !important;
}

.extendons_upload_dropzone.drag-over .extendons_drop_area {
  border-color: #0073aa;
  background-color: #f0f8ff;
}

.extendons_upload_files_table {
  table-layout: fixed;
}
.extendons_upload_files_table th {
  text-align: left !important;
  width: 33.33%;
}

.display_meta th {
  text-align: center !important;
  vertical-align: middle !important;
}

#wpbody-content {
  background: unset !important;
}

.reject-rule , .accept-rule{
  margin-left: 5px !important;
  margin-top: 5px !important;
}

.extendons-order-item{
  margin-top: 10px !important;
}


